html {
    background-color: bisque;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}


.header {
    display:flex;
    background-color: beige;
}

.body {
    display: flex;
    background-color: burlywood;
}

