
.container {
    display: flexbox;
    background-color: bisque;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}


#headLine{
    text-align:center;
    font-size: 50px;
}

.header {
    display:flexbox;
    background-color: beige;
    vertical-align: middle;
}
.body{
    display: flex;
    background-color: rgb(212, 96, 75);
}
footer{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    flex-wrap: nowrap;
}


.bar{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    min-width: min-content;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-align: right;
    background-color: rgb(209, 154, 36);
    margin-bottom: 2px;
}

.current_page{
    float: left;
    background-color: rgb(212, 96, 75);
}

img{
    max-width: 100%;
    height: auto;
}

li{
    width: max-content;
    min-width: min-content;
    vertical-align: middle;
    float: left;
    border-right:0.2px black solid;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li#leftLi{
    border-right: 0px;
}
li:hover{
    background-color:tomato;
}
.header li#leftLiandCurrent{
    background-color: rgb(212, 96, 75);
    border-right: 0px;
}
#stageConatiner{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#stages{
    display: flex;
    padding-left: 0px;
    justify-content: flex-start;
}
#stage{
    display: flex;
    width: auto;
    margin: auto;
    min-width: min-content;
    vertical-align: none;
    float: none;
    border-right:none;
    text-align: none;
    text-decoration: none;
    align-self: stretch;
}
#stage p{
    background-color: rgb(245, 203, 227);
}
#lastText{
    border-bottom:0.2px black solid;
}

/*index.html specific*/
.slideContainer{
    border-top:10px burlywood solid;
    display:flex;
    position: relative;
    margin: auto;
    background-color: burlywood;
    justify-content: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

.prev{
    left: 0;
}

.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}
.text {
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

#car{
    display: flex;
    border-bottom:2px rgb(139, 68, 9) solid;
    background-color: burlywood;
}
#left-side{
    font-size: 0.7rem;
    font-style: italic;
    margin-left: 20PX;
}
#right-side{
    margin-left: 20px;
    width: auto;
    height: 300px;
}

#formcontainer{
    display: flex;
    margin-top: 15px;
}
form{
    margin: auto;
    display: flex;
    flex-direction: column;
}
input{
    width: 100px;
    display: flex;
    min-width: fit-content;
    background-color: goldenrod;
}
button{
    width: auto;
}

.imageGrid{
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    justify-content: center;
}
#column{
    display: flex;
    flex-shrink: 1;
    width: 96vw;
    height: auto;
    position: relative;
    background-color: blue;
}
#pic{
    display: flex;
    flex: 1;
}
#driverPic{
    width: 100%;
}
#transFore{
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
#textInsideLeft {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    color: gold;
    top: 5%;
    left: 35%;
}
#textInsideRight{
    display: inline-block;
    position: absolute;
    font-size: 30px;
    color: gold;
    top: 5%;
    right: 10%;
}


iframe{
    position: absolute;
}
@media screen and (max-width: 600px) {
    .bar{
        flex-direction: column;
    }
    li{
        padding: 0px 0px;
        padding-top: 10px;
        padding-bottom: 8px;
        width: 100%;
        border-right: 0px;
        border-bottom:0.2px black solid;
        text-align: middle;
        background-color: rgb(209, 154, 36);
    }
    li#leftLi{
        border-bottom: 0px;
    }
    .header li#leftLiandCurrent{
        background-color: rgb(212, 96, 75);
        border-bottom: 0px;
    }
    #stages{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: flex-start  space-between;
        align-items: stretch;
    }
    #stage{
        background-color:rgba(0, 0, 0, 0);
        border-bottom:0px;
    }
}

div#flex{
    display: flex;
    flex-direction: row;
    visibility: hidden;
}
#formcontainerQ{
    display: flex;
    margin-top: 15px;
    width: 80vw;
}
#qAnda{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
}
#qAndquestion{
    height: 30px;
    width: auto;
}
#searchForm{
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
    margin-top: 15px;
}
#query{
    width: 100%;
}
#questionButton{
    width: auto;
    background-color:rgb(212, 211, 211);
    text-align: center;
}
#questionButton:hover{
    background-color: darkgray;
    color: white;
}
#query:focus{
    background-color: thistle;
    
}